#root {
  border: 2px solid red;
  max-width: 780px;
  max-height: 1688px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: sticky;
  top: 0;
  border: 2px solid rgb(13, 255, 0);
  display: flex;
  justify-content: space-between;
}

.footer {
  border: 2px solid rgb(13, 255, 0);
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: sticky;
  bottom: 0;
}

.articlesList {
  border: 2px solid rgb(13, 255, 0);
}

.articlesList img {
  max-height: 150px;
  max-width: 150px;
}

.articleCard {
  display: inline flex;
  margin: 10px;
  height: 150px;
  width: 300px;
  max-height: 300px;
  max-width: 300px;
  font-size: 10px;
  background: linear-gradient(135deg, rgb(236, 236, 236), rgb(160, 160, 160));
  overflow: hidden;
  color: black;
  border-radius: 20px;
}

.articleCardFooter {
}
